// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$sassyLarge: 1280;
$sassyMed: 1040;
// - added breakpoint
$sassyMedSmall:800;
$sassySmall: 600;
$sassyXSmall: 400;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: 'Lora', sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;
$full-height: 100%;
$full-width: 100%;

// ----------------------------------------------------------------------
  // Colors -custom settings
// ----------------------------------------------------------------------
$text-color:white;
