// SassySass ------------------------------------------------------------

%marginAuto {
  @include margin-auto();
}

%clearfix {
  @include clearfix();
}

%inlineBlock {
  @include inline-block();
}

%hideText {
  @include hide-text();
}

%left {
  float: left;
}

%right {
  float: right;
}

%normal-shadow{
	text-shadow: -3px 2px 2px black,
}

%h1-shadow{
	text-shadow: -3px 2px 0px #4B3072, -5px 4px 0px #3D3945;
}