.about-container{
	text-align:center;
	min-height: 100vh;
	padding-top: 20vh;

	h1{
		@include rem('font-size',50);
		@extend %h1;
	}
}

.about-paragraph{
	@include rem("font-size",22);
	text-align:justify;
	line-height:30px;
}

.about-contact-text{
	@include rem("font-size",22);
	text-align:center;

	a{
		@include inline-block();
		color:#7373FF;
		transition: .5s all;

		&:hover{
			transform:scale(1.1);
		}
	}
}

.about-mantra{
	@include rem('margin-top',10);
	@include rem('font-size',20);
	border-top: 1px solid grey;
	margin-bottom:0;
}