
.view-enter {
  opacity: 0.01;
  transition: all 2s linear;
}

.view-enter.view-enter-active {
  opacity: 1;
}

.view-leave {
  opacity: 1;
  transition: all 300ms linear;
}

.view-leave.view-leave-active {
  opacity: 0;
}


.view-appear {
  opacity: 0.01;
}

.view-appear.view-appear-active {
  opacity: 1;
  transition: opacity 1.5s linear;
}
