.experience-container{
	text-align:center;
	@include rem("padding-top",100);
	@extend %background-image;

	h1{
		@include rem('font-size',50);
		@extend %h1;
	}

	p{
		@include rem('font-size',20);
	}
}

.experience-timeline{
	position:relative;
	&::before{
		content:"";
		position:absolute;
		top:0;
		height:100%;
		background-color:#E1E1E1;
		width:3px;
	}

	li{
		@include rem("font-size",18);
	}

}

.experience-item:first-child ~ li{
	margin-top:125px;
}

.experience-item-panel{
	position:absolute;
	top:0;
	min-width:220px;
}

.timeline-text-left{
	right:210px;
}

.timeline-text-right{
	left:210px;
}

.experience-image-container{
	@include inline-block();
	position:relative;


	img{
		@include roundedCorners(1000);
		display:block;
		border:7px solid #E1E1E1;
		background-color: #E1E1E1;

	}
}

.experience-organization{
	color: gold;
	@include rem("font-size",23);
}

//
@include breakpoint($sassyMedSmall){

	.experience-timeline{
		&::before{
			left:50px;
		}
	}
	
	.experience-item{
		text-align:left;
	}

	.experience-image-container{
		img{
			width:50%;
			height:auto;
		}
	}

	.timeline-text-left{
		left:180px;
	}

	.timeline-text-right{
		left:180px;
	}
	
}


