.header-container{
	position:fixed;
	overflow:auto;
	background-color:rgba(0, 0, 0, 0.24);
	z-index:100;
}

.header-strobe{
	position:absolute;
	bottom:0;
	height:2px;
	width:70%;
	background-image:linear-gradient(to right, rgba( 0,0,0,0.9 ) 20%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 80%);

	animation: 5s linear 0s infinite alternate strobe;
}

@include keyframes(strobe){
	from{
		left: -60%;
		background-color:#5AFFB5;
	}
	to{
		left:80%;
		background-color:#109056;
	}
}



.menu-list{
	text-align:right;
}

.menu-home-link, .menu-link{
	a{
		font-weight:bold;
	}
	
}

.menu-home-link {
	@include rem('font-size',17);
	@include rem('padding',20,0,20,20);
	@extend %h1-shadow;
		
	a{
		transition: 0.5s all;
		@include inline-block();

		&:focus,&:hover{
			transform: translate(1px,-4px);
			text-shadow:-3px 2px 0px #724E72;
			color: #FFF06E;
		}
	}
}

.menu-link{
	@include rem('font-size',14);
	@include inline-block();
	a{
		@include rem('padding',22);
		display:block;
		transition: 0.5s all;

		&:hover{
			transform:scale(1.05);
			background-color: rgba(255,255,255,0.30);
		}
	}
}

@include breakpoint($sassyMedSmall){
	.menu-list{
		display:none;
	}

	.menu-home-link{
		display:block;
		@include margin-auto();
		@include rem("padding",14,0);
		text-align:center;
	}
}