
.header-container{
	position:fixed;
	background-color:rgba(0, 0, 0, 0.24);
	z-index:100;
}

.header-strobe{
	position:absolute;
	bottom:0;
	height:2px;
	width:70%;
	background-image:linear-gradient(to right, rgba( 0,0,0,0.9 ) 20%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 80%);

	animation: 5s linear 0s infinite alternate strobe;
}

@include keyframes(strobe){
	from{
		left: -60%;
		background-color:#5AFFB5;
	}
	to{
		left:80%;
		background-color:#109056;
	}
}

.nav-container{
	@include inline-block();
	width:50%;
}


.menu-list{
	text-align:right;
}

.menu-home-link, .menu-link{
	a{
		font-weight:bold;
	}
	
}

.menu-home-link {
	@include rem('font-size',17);
	@include rem('padding',20,20,20,20);
	@extend %h1-shadow;
	z-index:5;
		
	a{
		transition: 0.5s all;
		@include inline-block();

		&:focus,&:hover{
			transform: translate(1px,-4px);
			text-shadow:-3px 2px 0px #724E72;
			color: #FFF06E;
		}
	}
}

.menu-link{
	@include rem('font-size',14);
	@include inline-block();

	a{
		@include rem('padding',22);
		display:block;
		transition: 0.5s all;

		&:hover{
			transform:scale(1.05);
			background-color: rgba(255,255,255,0.30);
		}
	}
}

.menu-icon{
	display:none;
}

@include breakpoint($sassyMedSmall){

	.nav-container{
		position:absolute;
		width:100%;
		z-index:-100;
		background-color: rgba(38, 37, 37, 0.86);
		transition: 1s top;

		.menu-list{
			display:block;
			text-align:center;
		}
		.menu-link{
			display:block;

			a{
				@include rem('padding',10);
			}
		}
	}

	.menu-icon--close{
		.nav-container{
			top:-200%;
		}
	}

	.menu-icon--open{
		.nav-container{
			top:100%;
		}
	}

	.menu-link:first-of-type ~ li{
		border-top:1px solid white;
	}

	.menu-home-link{
		@include margin-auto();
		text-align:center;
		display:block;
		width:100%;
		background-color:black;

		*{
			z-index:100;
		}
	}

	.menu-icon{
		@include inline-block();
		position:absolute;
		height:24px;
		width:24px;
		right: 2%;
	}

	.menu-icon--open{
		.menu-icon{
			background-image: url(../../app/assets/ic_close_24px.svg);
		}
	}
	.menu-icon--close{
		.menu-icon{
			background-image: url(../../app/assets/ic_menu_24px.svg);
		}
	}
}